<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table class ='table table-bordered '>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Desc</th>
      <th>Student</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.desc %></td>
        <td>
          <% if book.student.present? %>
            <%= book.student.name %>,
            <%= book.student_book.borrowed_at.strftime("%b %d %Y") %>,
            <%= days_borrowed = (Time.current - book.student_book.borrowed_at).to_i / 1.day %> days,
            <%= 10 - days_borrowed %> days left to return
          <% end %></td>
        </td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Assign To Student', assign_to_student_book_path(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
